/* imports the poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #00eeff;
  --text-color: #ffffff;
  --bg-color-01: #090b0d;
  --bg-colr-02: #14171c;
  --color-00: #0000001a;

  /* Cores extra */
  --color-1: #999999;
  --color-2: #009539;
  --color-3: #7950f2;
  --color-4: #c00000;
  --color-5: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0; 
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--bg-color-01);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem;
  background-color: var(--bg-color-01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.logo {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  transition: .3s;
}
.logo:hover{
  color: var(--main-color);
  transform: scale(1.11);
  
}

.nav-responsive {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-color-01);
}

.nav a,
.nav-responsive a {
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: 0.4s;

}

.nav a:hover,
.nav-responsive a:hover {
  color: var(--main-color);
}

/* animação */
/* .home {
  background: linear-gradient(-45deg, #040020, var(--bg-color-01),  #080045);
  background-size: 400% 400%;

  animation: gradient 5s ease infinite alternate;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */
/* /animação */

section {
  min-height: 100vh;
  padding: 6rem 6rem 2rem;

}

span {
  color: var(--main-color);
}

.home,
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-img
 {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0%{
      top: 0;
  }
  100%{
      top: 30px;
  }
}

.about-img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.home-img img,
.about-img img {
  width: 100%;
}

/* IMAGEM CERTIFICAÇÃO */
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* ocupa a altura da tela */
}

.container-img img {
  max-width: 100%;
  width: 800px; /* ajuste se quiser */
  height: auto;
  animation: flutuar 4s ease-in-out infinite;
}

/* Animação de flutuação */
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* IMAGEM CERTIFICAÇÃO */

.about {
  background-color: var(--bg-colr-02);
}

.home-content,
.about-content {
  width: 45%;
}

.home-content h1,
.about-content h1 {
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3,
.about-content h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

.home-content p,
.about-content p {
  margin-top: 1.2rem;
  text-align: justify;
}

.services h2,
.portfolio h2,
.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: stretch;
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
  margin-bottom: 1rem;
}

.services-container .services-box {
  padding: 2rem 1rem 2.5rem;
  border-radius: 1.2rem;
  text-align: center;
  border: solid 0.15rem var(--bg-color-01);
  background-color: var(--bg-colr-02);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.01);
}

.services-box i {
  font-size: 4.3rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 1.5rem;
}

.services-box p {
  margin: 0.5rem;
  letter-spacing: 0.1rem;
  /*linhas*/


 /* display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.portfolio {
  background-color: var(--bg-colr-02);
}

.portfolio-container {
  display: grid;
  gap: 1.2rem;
}

.portfolio-box {
  position: relative;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem var(--bg-color-01);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box img:hover {
  transform: scale(1.1);
}


.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--main-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(30rem);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
}

.portfolio-layer p {
  margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 1.2rem;
  color: var(--bg-colr-02);
}

form {
  max-width: 45rem;
  margin: 0.6rem auto;
  text-align: center;
  margin-bottom: 2rem;
}

form.input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .input-box input,
form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--bg-colr-02);
  border-radius: 0.5rem;
  margin: 0.4rem 0;
}

form textarea {
  resize: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--bg-color-01);
}

.social-media img {
  width: 3.5rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: solid 0.15rem var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 0.5rem 0.2rem;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--bg-colr-02);
  box-shadow: 0 0 0.3rem var(--main-color);
}

/* Button */
.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background-color: var(--main-color);
  border-radius: 2rem;
  color: var(--bg-colr-02);
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
  margin-top: 1.2rem;
}

.btn:hover {
  box-shadow: 0 0 0.3rem var(--main-color);
  background-color: inherit;
  color: var(--main-color);
  cursor: pointer;
}
/* /Button */

/*Paralax*/

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.756), rgba(0,0,0,0.756)), url('https://i.pinimg.com/originals/2c/1f/31/2c1f3178b6a8c66276d64cdaf3dbe1b1.jpg');
}

/* menu hamburguer */

.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 0.3rem;
  background-color: var(--text-color);
  margin: 0.4rem 0;
  transition: 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.65rem) rotate(45deg);
}

/* /menu hamburguer */

/* media queries */

/* Extra Small(xs): Smartphone (portrait) */
@media (min-width: 0px) {
  .menu-hamburguer {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav-responsive a {
    display: block;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  section {
    padding: 6rem 2.5rem;
  }

  .home,
  .about {
    flex-direction: column;
    gap: 1.2rem;
  }

  .home-img,
  .about-img {
    width: 80%;
    max-width: 80%;
  }

  .home-content,
  .about-content {
    width: 100%;
  }

  .home-content div {
    text-align: center;
  }

  .home-content h1,
  .about-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .services-box {
    width: 100%;
  }
}

/* Small (sm): Smartphone (landscape) */
@media (min-width: 576px) {
  .home-img,
  .about-img {
    width: 65%;
    max-width: 65%;
  }

  .services-box {
    width: 70%;
  }
}

/* Medium (md): Tablet */
@media (min-width: 768px) {
  .menu-hamburguer {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-responsive,
  .nav-responsive a {
    display: none;
  }

  .home,
  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .home-img,
  .about-img {
    width: 35%;
  }

  .home-content,
  .about-content {
    width: 50%;
  }

  .services-box {
    width: 60%;
    margin-bottom: 2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto;
  }

  form .input-box input {
    width: 49%;
  }
}

/* Large (lg): Notebook */
@media (min-width: 992px) {
  .services-container {
    flex-direction: row;
    gap: 1.2rem;
  }
}

/* Extra Large (x1): Desktop */
@media (min-width: 1200px) {
  .home-img,
  .about-img {
    max-width: 25%;
  }

  .home-content h1 {
    font-size: 2.7rem;
  }

  .home-content h3 {
    font-size: 2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto auto;
  }
}

/* /media queries */

/*CONTATO*/ 
/* LAYOUT PRINCIPAL */
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 8%;
    min-height: 100vh;
    box-sizing: border-box;
}

/* LADO ESQUERDO */
.contact-left {
    flex: 1;
}

.contact-left h1 {
    font-size: 2.8rem;
    color: #00eeff;
    margin: 0;
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1rem;
    color: #ffffff;
}

/* LISTA DE CONTATO */
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 18px 20px;
    background: #ffffff;
    border-radius: 12px;
    text-decoration: none;
    color: #1f2d56;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 3.0s ease;
}

.contact-item i {
    font-size: 2rem;
    color: var(--bg-color-01);
}

.contact-item:hover {
    background: #e8e9ff;
    transform: translateX(5px);
}

/* BOTÃO */
.btn-contact {
    margin-top: 40px;
    background: var(--bg-colr-02);
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}
.btn-contact a{
  color: #fff;
}

.btn-contact:hover {
    background: #00eeff;
}

/* LADO DIREITO */
.contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-right img {
    width: 100%;
    max-width: 420px;
}

/* RESPONSIVIDADE - REMOVE A IMAGEM NO MOBILE */
@media (max-width: 900px) {
    .contact {
        flex-direction: column;
        text-align: center;
    }

    .contact-right {
        display: none;
    }

    .contact-item {
        justify-content: center;
    }
}

/*ANIMAÇÃO TEXTO DIGITALIZAÇÃO*/

.home-content h1 span{
    display: block;
    color: var(--main-color);
    font-weight: 700;

    border-right: 16px solid var(--main-color);
    white-space: nowrap;

    overflow: hidden;

    width: 0;

    animation: mark .3s step-end infinite, write 8s steps(22, end) infinite;
}

@keyframes mark {
    
    50% {
        border-right-color: transparent;
    }
}

@keyframes write {
    20%{
        width: 13.5ch;
    }

    70%{
        width: 13.5ch;
    }
    85%{
        width: 0;
    }
    100%{
        width: 0;
    }
}

/*ANIMAÇÃO TEXTO DIGITALIZAÇÃO*/

/*ANIMAÇÃO ENTRANDO NA TELA PELA LATERAL */

.hidden {
    opacity: 0;
    filter: blur(25px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

/*ENTRANDO UM ATRAS DO OUTRO ATRASO DAS IMAGENS*/

.logos :nth-child(2){
    transition-delay: 100ms;
}

.logos :nth-child(3){
    transition-delay: 300ms;
}

.logos :nth-child(4){
    transition-delay: 500ms;
}

.logos :nth-child(5){
    transition-delay: 700ms;
}
/*ANIMAÇÃO ENTRANDO NA TELA PELA LATERAL */


/* ANIMAÇÃO DE FOSCO E PARA O NORMAL */

.escondido {
    opacity: 0;
    filter: blur(30px);
    transition: all 2s;
}

.mostra {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

/* ANIMAÇÃO DE FOSCO E PARA O NORMAL */